dependency-reduced-pom.xml
logback-test.xml
gradlew.bat
nohup.out

*.classpath
*.project
*.settings
*.crc
*.iml
*.pyc
*.log
*.log.gz

.DS_Store
.gradle
.idea

generated
build
target
gen-loc
out
tmp
temp
classes
log
logs
audit

